.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.card {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 200px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}

.card:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.6s ease-in;
}

.card > img {
  width: 200px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
